<html>
  <link>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-plus/dist/index.css"
    />
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-plus"></script>
    <!--import day.js-->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="index.css"></link>
    <title>plan</title>
  </head>
  <body>
    <div id="app">
      <div class="set" v-show="print" @click="">
        <div>
          <el-date-picker
          v-model="startDate"
          type="date"
          placeholder="请选择计划起始日期"
        />
        </div>
        <div>
          <el-input-number v-model="num" :min="14" :max="100" />
        </div>
        <div>
          <el-button type="primary" @click="getMyCalendar">生成</el-button>
          <el-button type="primary" @click="startPrint">打印</el-button>

        </div>
        <div>
        </div>
      </div>
        <div class="calendar">
          <div class="content">
            <div>
              计划内容:
            </div>
             <div>
              <img src="./Screenshot_20230908_112412_com.png" alt="" class="mange">
            </div>
          </div>
          <div>
            <div class="c-head">
              <div v-for="item in weekday" class="day">{{item}}</div>
            </div>
            <div class="c-body">
              <div class="week" v-for="item in dataArr">
                <div class="day" v-for="subItem in item">
                  <div>{{subItem.str}}</div>
                  <div class="num">{{subItem.index}}</div>
                </div>
              </div>
            </div>
          </div> 
          <div class="content">
            奖励与惩罚:
          </div>
      </div>
     
    </div>
    <script src="index.js"></script>
  </body>
</html>