.set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 30px auto 0;
}
.calendar {
  border: 1px dotted #e4d9ce;
  width: 700px;
  margin: 80px auto 0;
  border-radius: 16px;
}
.c-head {
  width: 700px;
  display: flex;
}
.week {
  width: 700px;
  display: flex;
}
.day {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted #e4d9ce;
  color:#ab6175;
}
.week .day:nth-child(odd) {
  background-color: #fbe8e6;
}

